<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
        
      <ion-back-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-back-button>
    
  </ion-buttons>
    <ion-title>Qr Code สำหรับเริ่มงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

<ion-row class="ion-justify-content-center">
  <ngx-qrcode  [value]="createdCode" [width]="250"></ngx-qrcode> 
</ion-row>

<p class="titre"> นำ QR Code ให้พนักงานปล่อยรถแสกนเพื่อเริ่มงาน</p>




</ion-content>
