<ion-header>
  <ion-toolbar>
    <ion-title>qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="My QR code" [(ngModel)]="qrData">
    </ion-input>
  </ion-item>
<ion-button (click)="createQRCode()"><ion-icon name="qr-code-outline"></ion-icon></ion-button>
<ion-row *ngIf="createQRCode">
  <ngx-qrcode [value]="createdCode"></ngx-qrcode>
</ion-row>
<div id="container">
  <ion-button (click)="qrCodeScanner()"><ion-icon name="scan-outline"></ion-icon></ion-button>
  <p>{{scannedOutput}}</p>
</div>
</ion-content>
