<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="showtask-list">
      <ion-icon name="file-tray-full-outline"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="showtask-booked">
      <ion-icon name="archive-outline"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="showtask-progress">
      <ion-icon name="car-outline"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="showtask-complete">
      <ion-icon name="checkmark-circle-outline"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="account-detail">
      <ion-icon name="person-outline"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera-outline"></ion-icon>

    </ion-tab-button>

  </ion-tab-bar>




</ion-tabs>
