<ion-content>


  <ion-content class="home">



    <div class="list">
      
        <div class="top">
          <br>
          <div class="profile-picture big-profile-picture">
            <img [src]="showImgPath()" id="img" />

          </div>

          
        </div>
        <div class="profile-name">
          <p style="color:rgb(0, 0, 0)">ชื่อ： {{accountData.firstName}} {{accountData.lastName}}</p>
          <p style="color:rgb(0, 0, 0)">เบอร์โทรศัพท์มือถือ：{{accountData.tel}}</p>
          <p style="color:rgb(0, 0, 0)">เลขประจำตัวประชาชน：{{accountData.cardId}}</p>
          <p style="color:rgb(0, 0, 0)">เลขที่ใบขับขี：{{accountData.driverLicense}}</p>
          <p style="color:rgb(0, 0, 0)">ตำแหน่ง：{{roleName}}</p>
          
          <br>


        </div>
     
    </div>

    <ion-button expand="full" (click)="logout()">Logout</ion-button>
  </ion-content>