<ion-header>
  <ion-toolbar>
    <ion-title>รายการงานขนส่ง</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>
<ion-content>
  <div *ngFor="let x of announcement">
    <ion-card class="group-box">
      <div>
        {{x.announcementTitle}}
      </div>
      <div>
        <div *ngIf="!x.showMore">
          {{trimString(x.announcementDetails,100)}}
        </div>
        <div *ngIf="x.showMore">
          {{x.announcementDetails}}
        </div>
        <a (click)="x.showMore = !x.showMore">Show <span [innerHtml]="x.showMore ? 'less' : 'More'"> </span>
        </a>
      </div>
      <div text-right class="announcement-username">
        {{x.createrName}}
      </div>
      <ion-row>
      <ion-button onclick="pageBooked()">
        <ion-icon name="archive-outline"></ion-icon>
      </ion-button>
      <ion-button onclick="pageMap()">
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-button>
    </ion-row>
    </ion-card>
  </div>
</ion-content>
